body {
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
  font-size: 9pt;
  background-color: #FFFFFF;
  margin-top: 0px;
  text-align: center;
}

div#container
{
  width:748px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

div#menu
{
  width:748px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

div#header {
  width:654px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("map.png");
  background-repeat: repeat-x;
  background-color: #ffffff;
  border-bottom: 1px, solid, #000000;
  border-top: : 1px, solid, #000000;
  border-left: 1px, solid, #000000;
  font-size: 8pt;
  color: #FFFFFF;
}

div#footer
{
   width:748px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}
.menuBar {
  background-color: #660000;
  color: #FFFFFF;
  width:748px;
}

.menuBar a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
}

.contentArea {
  background-color: #DDDDFF;
  width:748px;
}

.footer {
  width:100%;
  background-color: #006e00;
  color: #FFFFFF;
}

.aboutBox {
   border: 1px solid #000066;
   background-color: #eeeeee;
   font-size: 10pt;
   width: 300px;
}

.signInBox {
   border: 1px solid #000066;
   background-color: #eeeeee;
   font-size: 8pt;
   width: 300px;
   text-align:center;
}

TABLE { font-family:Arial;font-size:10pt;color:black }

.datatable TH { background-color:#8b4141;color:white; }
.even TD { background-color:#9B6E73;font-size:10pt; }
.odd TD { background-color:#C2A9AB;font-size:10pt }
.msg { background-color:#E9C2A6;color:white; }
.deleteRow, .deleteRow INPUT, .deleteRow SELECT { color:red;text-decoration:line-through;font-size:10pt; }
